@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #faf8f4;
  --foreground: #1a1d20;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.container-custom {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}
